# qtcreator files
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes
*.creator.user
# vim files
.*.swp
# vs code files
.vscode/
# build files
test_account
*.o
build/
bin/
XXX/
*.~[0-9]~
*.zip
#Deoxygen output
src/html
src/latex
